body {
  margin-left: 10px;
  text-align: center;
  font-family: sans-serif;
  background-color: whitesmoke;
}

#color-palette {
  margin: 10px 0;
}

.color {
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
}

#button-container {
  margin: 10px 0;
}

input {
  margin-right: 4px;
  max-width: 50px;
}

#clear-board {
  margin-left: 15px;
}

#pixel-board {
  margin: 15px auto;
  width: 210px;
  height: 210px;
  display: flex;
  flex-flow: row wrap;
}
/* 
Últimas 3 propriedades (display, flex-flow e justify-content) "copiadas" do exercicio do Jogo da Velha, arquivo style.css (https://github.com/tryber/dojo-jogo-da-velha-fundamentos-5.4/blob/main/style.css)
Pesquisa sobre flex-flow no site https://developer.mozilla.org/pt-BR/docs/Web/CSS/flex-direction;
Pesquisa sobre justify-content no site https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content;
*/

.pixel {
  background-color: white;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}